header {
    font-family: "Roboto Condensed", sans-serif;
  .row {
    height: 100px;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 15px;
      padding: 2px 0;
      &.active div {
        border-bottom: 4px solid $primaryColor;
        a {
          color: $primaryColor;
        }
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $primaryColor;
      }
    }
  }
  img {
    padding: 14px;
  }
}
